<div class="principal">
    <div class="img">
        <img src="mustang.png" alt="" />
    </div>

    <div class="container-right">
        <div class="login-container">
            <div class="login-logo">
                <img src="ford.png" alt="" />
            </div>

            <div class="login">
                
                <form 
                    action="#" 
                    class="login-form" 
                    (ngSubmit)="login()" 
                    *ngIf="isLogin" 
                >
                    <h2 class="login-title">Sejam Bem-Vindos!</h2>

                    <mat-form-field appearance="outline">
                        <mat-label>nome</mat-label>
                        <input type="text" [(ngModel)]="nome" name="nome" matInput required />
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Senha</mat-label>
                        <input type="password" [(ngModel)]="senha" name="senha" matInput required />
                    </mat-form-field>

                    <button mat-fab extended color="primary">Entrar</button>
                    
                    <div class="switch-mode">
                        Não tem conta? <a href="#" (click)="toggleMode(); $event.preventDefault()">Cadastre-se aqui</a>
                    </div>
                </form>
                
                <form 
                    action="#" 
                    class="login-form" 
                    (ngSubmit)="register()" 
                    *ngIf="!isLogin"
                >
                    <h2 class="login-title">Crie sua Conta</h2>

                    <mat-form-field appearance="outline">
                        <mat-label>Nome Completo</mat-label>
                        <input type="text" [(ngModel)]="registro.nomeCompleto" name="nomeCompleto" matInput required />
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>E-mail</mat-label>
                        <input type="email" [(ngModel)]="registro.email" name="email" matInput required />
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Crie uma Senha</mat-label>
                        <input type="password" [(ngModel)]="registro.senha" name="senhaReg" matInput required />
                    </mat-form-field>
                    
                    <mat-form-field appearance="outline">
                        <mat-label>Confirme a Senha</mat-label>
                        <input type="password" [(ngModel)]="registro.confirmacaoSenha" name="confirmacaoSenha" matInput required />
                    </mat-form-field>

                    <button mat-fab extended color="accent">Cadastrar</button>

                    <div class="switch-mode">
                        Já tem conta? <a href="#" (click)="toggleMode(); $event.preventDefault()">Faça Login</a>
                    </div>
                </form>

            </div>

            <div class="copyright">
                <p>&copy; Ford 2025 todos direitos reservados</p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>